/* Importing the "Interface" Font. TODO: Reference later locally */
@import url('https://rsms.me/interface/interface.css');

/* Importing Normalize.css to render consistently */
@import url('https://necolas.github.io/normalize.css/7.0.0/normalize.css');

/* General declaration of font */
* {
  font-family: Interface, sans-serif;
  color: #252525;
  box-sizing: border-box;
}

body {
  margin: 20px auto;
  width: 60%;
}

ul li {
  font-size: 0.813em;
  list-style-type: circle;
  line-height: 1.400em;
}

a, a:active, a:hover, a:visited {
  color: #000;
  background: yellow;
  text-decoration: none;
}

h1 {
  color: #000;
  font-size: 2.000em;
  margin-bottom: 0px;
}

h2 {
  color: #000;
  font-size: 1.500em;
  margin-top: 40px;
}

h4 {
  color: #000;
  font-size: 0.670em;
  margin-top: -10px;
}

p {
  font-size: 0.813em; /* 12px; 16px = 1,000 em = 100% */
  line-height: 1.400em;
}

footer {

}

.profile-image img {
  width: 170px;
  height: 224px;
  display: block;
  margin: 0 auto;
}

.separator {
  width: 100px;
  height: 10px;
  color: lightgray;
}

.highlight-background {
  color: #000;
  background: yellow;
  text-decoration: none;
  padding: 0px;
}

.clearfix {
  clear: both;
}

.logo {
  float: right;
  text-align: right;
  display: block;
  line-height: 2.70em;
}

.uppercase {
    text-transform: uppercase;
}

.profile-image {
  text-align: center;
  display: block;
}

.hide-me {
	visibility: hidden;
}
